// Navigation code here

.topNav {
  Width: 100%;
  background: @wild-sand;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 4rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: @river-bend;
  }
  .nav {
    width: 380px;
    display: flex;
    justify-content: space-between;
    a {
      font-size: 1.6rem;
      text-decoration: none;
      font-family: @river-bend;
      color: @ebony-clay;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

}
